In [11]:
import pandas as pd
import numpy as np

In [16]:
df_train = pd.read_csv("inputs/train.csv")

In [17]:
df_train.describe()

              price  item_seq_number   image_top_1  deal_probability
count  1.418062e+06     1.503424e+06  1.390836e+06      1.503424e+06
mean   3.167081e+05     7.436740e+02  1.241932e+03      1.391306e-01
std    6.689154e+07     5.572522e+03  9.704641e+02      2.600785e-01
min    0.000000e+00     1.000000e+00  0.000000e+00      0.000000e+00
25%    5.000000e+02     9.000000e+00  4.250000e+02      0.000000e+00
50%    1.300000e+03     2.900000e+01  1.057000e+03      0.000000e+00
75%    7.000000e+03     8.800000e+01  2.217000e+03      1.508700e-01
max    7.950101e+10     2.044290e+05  3.066000e+03      1.000000e+00

In [18]:
df_train.head(5)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

In [19]:
len(df_train)

1503424

In [20]:
df_train.columns

Index(['item_id', 'user_id', 'region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'deal_probability'],
      dtype='object')

In [21]:
np.sum(df_train["deal_probability"] > 0.5)

177754

In [22]:
np.sum(df_train["deal_probability"] <= 0.5)

1325670

In [23]:
df_test = pd.read_csv("inputs/test.csv")

In [24]:
len(df_test)

508438